<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>HT</title>
    <link rel="stylesheet" href="../Header/HT_eng-header.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>

    <header class="top-bar">
        <div class="top-bar-left">
            <img src="/Web_UI/Assesets/Image/HT_ENG.png" alt="회사 로고" class="logo" />
        </div>
        <nav class="top-bar-center">
            <ul class="main-menu">
                <li class="menu-item" data-menu="company">회사 소개</li>
                <li class="menu-item" data-menu="brand">브랜드</li>
                <li class="menu-item" data-menu="product">제품</li>
                <li class="menu-item" data-menu="membership">멤버쉽</li>
            </ul>
        </nav>
        <div class="top-bar-right">
            <a href="/Web_UI/HomePage/HT-eng-HomePage.html">홈</a>
            <a href="../LoginPage/HT-eng-Login.html">로그인</a>
            <a href="HT_eng-contact.html">문의</a>
            <a href="HT_eng-search.html"><i class="fa-solid fa-magnifying-glass search-icon"></i></a>
        </div>

        <!-- 메가 메뉴 -->
        <div class="mega-menu" id="megaMenu">
            <div class="mega-menu-content" data-menu="company">
                <div class="mega-column">
                    <h3>회사 소개</h3>
                    <ul>
                        <li><a href="../CEOPage/HT_eng-ceo.html">CEO 소개</a></li>
                        <li><a href="/Web_UI/Members/HT_eng-members.html">회사 구성원 소개</a></li>
                        <li><a href="/Web_UI/Company/HT_eng-Company.html">회사 가치 소개</a></li>
                    </ul>
                </div>
                <div class="mega-column">
                    <img src="/Web_UI/Assesets/Image/company-building.jpg" alt="회사 건물" />
                </div>
            </div>

            <div class="mega-menu-content" data-menu="brand">
                <div class="mega-column">
                    <h3>브랜드</h3>
                    <ul>
                        <li><a href="HT_eng-schneider.html" target="_blank">슈나이더</a></li>
                        <li><a href="HT_eng-pizzato.html" target="_blank">피자토</a></li>
                        <li><a href="HT_eng-eaten.html" target="_blank">이튼</a></li>
                        <li><a href="HT_eng-legrand.html" target="_blank">르그랑</a></li>
                    </ul>
                </div>
                <div class="mega-column">
                    <img src="/Web_UI/Assesets/Image/슈나이더.png" alt="브랜드 이미지" />
                </div>
            </div>

            <div class="mega-menu-content" data-menu="product">
                <div class="mega-column">
                    <h3>제품</h3>
                    <ul>
                        <li><a href="HT_eng-EOCR.html">EOCR</a></li>
                        <li><a href="HT_eng-product2.html">제품2</a></li>
                        <li><a href="HT_eng-product3.html">제품3</a></li>
                    </ul>
                </div>
                <div class="mega-column">
                    <img src="/Web_UI/Assesets/Image/sale.jpg" alt="제품 이미지" />
                </div>
            </div>

            <div class="mega-menu-content" data-menu="membership">
                <div class="mega-column">
                    <h3>멤버쉽</h3>
                    <ul>
                        <li><a href="HT_eng-membership.html">맴버쉽 문의</a></li>
                        <li><a href="HT_eng-benefits.html">기술지원</a></li>
                    </ul>
                </div>
                <div class="mega-column">
                    <img src="/Web_UI/Assesets/Image/support.jpg" alt="멤버쉽 이미지" />
                </div>
            </div>
        </div>
    </header>

    <!-- ✅ header.js 불러오기 -->
    <script defer src="HT_eng-header.js"></script>

</body>

</html>